<div class="list-group">
    <a href="{{ url_for('start_page') }}" class="list-group-item list-group-item-action">Start page</a>
    <a href="{{ url_for('another_page') }}" class="list-group-item list-group-item-action">Another Page</a>
    <a href="{{ url_for('actually_another_page') }}" class="list-group-item list-group-item-action">Actually another page</a>
    <a href="{{ url_for('not_last_page') }}" class="list-group-item list-group-item-action">It's not last page</a>
    <a href="{{ url_for('last_page') }}" class="list-group-item list-group-item-action">Last page</a>
</div>
