{% extends 'base.html' %}

{% block title %} ACTUALLY ANOTHER PAGE {% endblock %}

{% block content %}

<h4>
    <p>
        Phasellus lobortis nec dui eget consequat. In eget aliquet nunc. Vestibulum vitae massa malesuada, ornare est
        vitae, tempus dui. Praesent sodales in purus sit amet sodales. Curabitur quis leo in ipsum efficitur vulputate.
        Cras efficitur cursus nibh a eleifend. Quisque nec velit massa.
    </p>
    <p>
        Vivamus lobortis, urna eu cursus mattis, erat ante lacinia lorem, non hendrerit magna velit sed tortor. Integer
        id turpis vitae dui mollis lobortis. Quisque vel placerat mi, at commodo ex. Curabitur nec diam odio. Etiam
        bibendum lorem a felis molestie, sit amet finibus elit tristique. Nunc tincidunt, neque quis volutpat
        sollicitudin, libero est maximus libero, id rutrum lectus ante sit amet risus. Maecenas sit amet purus luctus
        est egestas malesuada sed eget nisi. Sed vitae ipsum felis. Duis vel nibh nec enim convallis convallis a auctor
        ex. Sed ac vestibulum velit. In laoreet sodales justo, vel scelerisque eros blandit ut. Nulla auctor tortor ut
        odio maximus, vel elementum ligula scelerisque.
    </p>
    <p>
        Sed quis nibh ligula. Nunc egestas ipsum eu eleifend venenatis. In varius erat quis quam facilisis fermentum.
        Nam dui velit, molestie et imperdiet eget, dapibus id purus. Mauris tincidunt ut ligula ac vulputate. Donec
        pellentesque neque sed ex porttitor aliquam. Suspendisse hendrerit mi at lorem vulputate molestie. Fusce sed
        eros mattis, maximus elit vitae, blandit nisi. Nullam tortor ante, aliquet non aliquet eu, vulputate quis metus.
        Nullam imperdiet tempor nibh, eu dapibus sem dapibus dapibus. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Nullam ut tortor vehicula, sagittis tortor sed, mattis lacus. Mauris
        eu neque dignissim, semper nibh et, porta nulla. Ut aliquet rutrum ligula, sed consectetur est tristique vitae.
    </p>
</h4>

{% endblock %}